---

---
<!-- blog section start -->
<section class="blog-section pt-100 md-pt-80 pb-70 md-pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title start -->
                <div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
                    <span class="sub-title">Блог об ИИ</span>
                    <h2>Новости и <span>советы</span> по автоматизации</h2>
                    <p>Узнайте больше о том, как искусственный интеллект и RAG-системы меняют современный
                        бизнес.</p>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <!-- blog grid item start -->
                <div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".3s">
                    <!-- blog grid image start -->
                    <div class="blog-grid-image">
                        <a href="blog-details.html">
                            <figure class="image-anime">
                                <img src="assets/images/blog/blog-1.jpg" alt="blog image one">
                            </figure>
                        </a>
                    </div>
                    <!-- blog grid image end -->
                    <!-- blog grid content start -->
                    <div class="blog-grid-content">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Admin</span>
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>March 14, 2025</span>
                            </li>
                        </ul>
                        <h2><a href="#">Как подготовить базу знаний для обучения ИИ-бота</a></h2>
                        <div class="blog-grid-button">
                            <a href="#" class="read-more-btn">Подробнее</a>
                        </div>
                    </div>
                    <!-- blog grid content end -->
                </div>
                <!-- blog grid item end -->
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- blog grid item start -->
                <div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".4s">
                    <!-- blog grid image start -->
                    <div class="blog-grid-image">
                        <a href="blog-details.html">
                            <figure class="image-anime">
                                <img src="assets/images/blog/blog-2.jpg" alt="blog image two">
                            </figure>
                        </a>
                    </div>
                    <!-- blog grid image end -->
                    <!-- blog grid content start -->
                    <div class="blog-grid-content">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Admin</span>
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>March 14, 2025</span>
                            </li>
                        </ul>
                        <h2><a href="#">Топ-10 инструментов для ИИ-автоматизации в 2026 году</a></h2>
                        <div class="blog-grid-button">
                            <a href="#" class="read-more-btn">Подробнее</a>
                        </div>
                    </div>
                    <!-- blog grid content end -->
                </div>
                <!-- blog grid item end -->
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- blog grid item start -->
                <div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".5s">
                    <!-- blog grid image start -->
                    <div class="blog-grid-image">
                        <a href="blog-details.html">
                            <figure class="image-anime">
                                <img src="assets/images/blog/blog-3.jpg" alt="blog image three">
                            </figure>
                        </a>
                    </div>
                    <!-- blog grid image end -->
                    <!-- blog grid content start -->
                    <div class="blog-grid-content">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Admin</span>
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>March 14, 2025</span>
                            </li>
                        </ul>
                        <h2><a href="#">Преимущества RAG перед обычными чат-ботами</a></h2>
                        <div class="blog-grid-button">
                            <a href="#" class="read-more-btn">Подробнее</a>
                        </div>
                    </div>
                    <!-- blog grid content end -->
                </div>
                <!-- blog grid item end -->
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->