---

---
<!-- cta section start -->
<section class="cta-section-1 pb-100 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- cta content start -->
                <div class="cta-content left-before right-after" data-img-src="assets/images/cta/bg-patten.png">
                    <div class="section-title wow fadeInUp" data-wow-delay=".2s">
                        <h2>Нужен ии бот <span>который понимает клиента?</span></h2>
                        <p>Попробуйте нашу систему, которая поможет закрыть многие вопросы на правильно обученных данных</p>
                    </div>
                    <div class="cta-button wow fadeInUp" data-wow-delay=".3s">
                        <a href="/contact" class="theme-button style-1" aria-label="Request a demo">
                            <span data-text="Request a demo">Написать</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!-- cta content end -->
            </div>
        </div>
    </div>
</section>
<!-- cta section end -->