---

---
<!-- image section start -->
<div class="image-section">
    <!-- bakground assets start -->
    <div class="bakground-assets">
        <img class="shape-one" src="assets/images/image/shape-top.png" alt="shape top">
        <img class="shape-two" src="assets/images/image/shape-bottom.png" alt="shape bottom">
    </div>
    <!-- bakground assets end -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- image wapper start -->
                <div class="image-wapper">
                    <!-- image box start -->
                    <div class="image-box">
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-1.jpg" alt="image one">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-2.jpg" alt="image two">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-3.jpg" alt="image three">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-4.jpg" alt="image four">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-5.jpg" alt="image five">
                            </figure>
                        </div>
                        <!-- image item start -->
                    </div>
                    <!-- image box end -->
                    <!-- image box start -->
                    <div class="image-box">
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-1.jpg" alt="image one">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-2.jpg" alt="image two">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-3.jpg" alt="image three">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-4.jpg" alt="image four">
                            </figure>
                        </div>
                        <!-- image item end -->
                        <!-- image item start -->
                        <div class="image-item">
                            <figure>
                                <img src="assets/images/image/image-5.jpg" alt="image five">
                            </figure>
                        </div>
                        <!-- image item end -->
                    </div>
                    <!-- image box end -->
                </div>
                <!-- image wapper end -->
            </div>
        </div>
    </div>
</div>
<!-- image section end -->