---

---
<!-- marquee ticker section start -->
<div class="marquee-ticker-section">
    <div class="marquee-ticker-box">
        <div class="marquee-content">
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image one">
            </div>
            <p data-text="RAG Системы">
                RAG Системы
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image two">
            </div>
            <p data-text="База знаний">
                База знаний
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image three">
            </div>
            <p data-text="ИИ-Автоматизация">
                ИИ-Автоматизация
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image four">
            </div>
            <p data-text="LLM Модели">
                LLM Модели
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image two">
            </div>
            <p data-text="Чат-боты">
                Чат-боты
            </p>
        </div>
        <div class="marquee-content">
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image one">
            </div>
            <p data-text="RAG Системы">
                RAG Системы
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image two">
            </div>
            <p data-text="База знаний">
                База знаний
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image three">
            </div>
            <p data-text="ИИ-Автоматизация">
                ИИ-Автоматизация
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image four">
            </div>
            <p data-text="LLM Модели">
                LLM Модели
            </p>
            <div class="marquee-icon">
                <img src="assets/images/icon/marquee.png" alt="marquee image two">
            </div>
            <p data-text="Чат-боты">
                Чат-боты
            </p>
        </div>
    </div>
</div>
<!-- marquee ticker section end -->