---

---
<!-- project section start -->
<section class="project-section-3 pt-100 md-pt-80 pb-100 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title start -->
                <div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
                    <span class="sub-title">Наши кейсы</span>
                    <h2>Где можно использовать <span>RAG-системы</span>?</h2>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- project wapper start -->
                <div class="project-wapper grid-1">
                    <!-- project item start -->
                    <div class="project-item sticky">
                        <div class="project-image order-lg-2">
                            <a href="project-details.html">
                                <figure class="image-anime">
                                    <img src="assets/images/project/project-3-1.jpg" alt="project image one">
                                </figure>
                            </a>
                        </div>
                        <div class="project-content">
                            <h2><a href="#">Техническая поддержка и Helpdesk</a></h2>
                            <p class="desc">Автоматизируйте ответы на часто задаваемые вопросы, используя вашу базу знаний. ИИ-агент мгновенно найдет нужное решение в инструкциях и поможет клиенту.</p>
                            <div class="check-list mb-30">
                                <ul>
                                    <li>Снижение нагрузки на операторов до 70%</li>
                                    <li>Мгновенные ответы 24/7 на любом языке</li>
                                    <li>Точное следование техническим регламентам</li>
                                    <li>Автоматическая классификация обращений</li>
                                </ul>
                            </div>
                            <div class="project-button">
                                <a href="#contact" class="theme-button style-1" aria-label="Подробнее">
                                    <span data-text="Подробнее">Подробнее</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- project item end -->
                    <!-- project item start -->
                    <div class="project-item sticky">
                        <div class="project-image order-lg-2">
                            <a href="project-details.html">
                                <figure class="image-anime">
                                    <img src="assets/images/project/project-3-2.jpg" alt="project image two">
                                </figure>
                            </a>
                        </div>
                        <div class="project-content">
                            <h2><a href="#">Отдел продаж и Лидогенерация</a></h2>
                            <p class="desc">ИИ-агент квалифицирует лидов, отвечает на вопросы о продукте и помогает выбрать подходящий тариф, основываясь на данных о ваших услугах.</p>
                            <div class="check-list mb-30">
                                <ul>
                                    <li>Увеличение конверсии за счет скорости ответа</li>
                                    <li>Автоматический сбор контактных данных</li>
                                    <li>Персонализированные рекомендации товаров</li>
                                    <li>Интеграция с вашей CRM-системой</li>
                                </ul>
                            </div>
                            <div class="project-button">
                                <a href="#contact" class="theme-button style-1" aria-label="Подробнее">
                                    <span data-text="Подробнее">Подробнее</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- project item end -->
                    <!-- project item start -->
                    <div class="project-item sticky">
                        <div class="project-image order-lg-2">
                            <a href="project-details.html">
                                <figure class="image-anime">
                                    <img src="assets/images/project/project-3-3.jpg" alt="project image three">
                                </figure>
                            </a>
                        </div>
                        <div class="project-content">
                            <h2><a href="#">Корпоративное обучение и HR</a></h2>
                            <p class="desc">Создайте внутреннего ассистента для сотрудников. ИИ поможет быстро найти информацию по внутренним регламентам, FAQ и обучающим материалам.</p>
                            <div class="check-list mb-30">
                                <ul>
                                    <li>Быстрый онбординг новых сотрудников</li>
                                    <li>Доступ к базе знаний компании в один клик</li>
                                    <li>Снижение нагрузки на HR-департамент</li>
                                    <li>Обучение на внутренних регламентах и Wiki</li>
                                </ul>
                            </div>
                            <div class="project-button">
                                <a href="#contact" class="theme-button style-1" aria-label="Подробнее">
                                    <span data-text="Подробнее">Подробнее</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- project item end -->
                </div>
                <!-- project wapper end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- project start -->
                <div class="project-footer">
                    <p>Мы помогаем бизнесу проектировать, создавать и внедрять интеллектуальные решения, которые приносят реальные результаты. <a href="#contact">Узнать больше</a></p>
                </div>
                <!-- more event content end -->
            </div>
        </div>
    </div>
</section>
<!-- project section end -->