---

---
<!-- testimonials section start -->
<section class="testimonials-section-3 pt-100 md-pt-80 pb-100 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="testimonials-left wow fadeInUp" data-wow-delay=".2s">
                    <!-- section title start -->
                    <div class="section-title">
                        <span class="sub-title">Реальные внедрения ИИ</span>
                        <h2>Что говорят наши <span>клиенты</span></h2>
                        <p class="text-white">Мы гордимся тем, что помогаем компаниям трансформировать их
                            бизнес-процессы. Посмотрите, как BotSync решает реальные задачи наших пользователей.</p>
                    </div>
                    <!-- section title end -->

                    <!-- testimonials avatar-wapper start -->
                    <div class="testimonials-avatar-wapper">
                        <ul class="testimonials-avatar-list mb-0 d-flex gap-0">
                            <li>
                                <figure>
                                    <img src="assets/images/avatar/avatar-1.jpg" alt="about avtara one">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/avatar/avatar-2.jpg" alt="about avtara two">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/avatar/avatar-3.jpg"
                                         alt="about avtara three">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/avatar/avatar-4.jpg"
                                         alt="about avtara four">
                                </figure>
                            </li>
                            <li>
                                <span>40+</span>
                            </li>
                        </ul>
                        <div class="review-content">
                            <p>Более 40+ компаний уже внедрили BotSync</p>
                        </div>
                    </div>
                    <!-- testimonials avatar-wapper end -->
                </div>
            </div>
            <div class="col-lg-6">
                <!-- testimonials right start -->
                <div class="testimonials-right">
                    <!-- testimonials slider start -->
                    <div class="swiper testimonials-slider-one">
                        <!-- swiper wrapper start -->
                        <div class="swiper-wrapper">
                            <!-- swiper slide start -->
                            <div class="swiper-slide">
                                <!-- testimonials item start -->
                                <div class="testimonials-item right-after">
                                    <div class="testimonials-meta">
                                        <div class="testimonials-quote">
                                            <i class="fa-solid fa-quote-left"></i>
                                        </div>
                                        <div class="testimonials-rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                        </div>
                                    </div>
                                    <div class="testimonials-content">
                                        <p>«Внедрение BotSync в нашу техподдержку позволило сократить время ответа
                                            клиентам в 5 раз. ИИ отлично справляется с FAQ и техническими вопросами,
                                            используя нашу базу знаний.»</p>
                                    </div>
                                    <div class="testimonials-author-box">
                                        <div class="testimonials-author">
                                            <div class="testimonials-author-image">
                                                <figure>
                                                    <img src="assets/images/avatar/avatar-1.jpg" alt="avatar">
                                                </figure>
                                            </div>
                                            <div class="testimonials-author-content">
                                                <h2>Александр Иванов</h2>
                                                <p>Технический директор</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials item end -->
                            </div>
                            <!-- swiper slide end -->
                            <!-- swiper slide start -->
                            <div class="swiper-slide">
                                <!-- testimonials item start -->
                                <div class="testimonials-item right-after">
                                    <div class="testimonials-meta">
                                        <div class="testimonials-quote">
                                            <i class="fa-solid fa-quote-left"></i>
                                        </div>
                                        <div class="testimonials-rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                        </div>
                                    </div>
                                    <div class="testimonials-content">
                                        <p>«Мы обучили ИИ на наших каталогах и регламентах продаж. Теперь бот
                                            квалифицирует лидов и отвечает на вопросы о товарах даже ночью. Это
                                            значительно повысило нашу конверсию.»</p>
                                    </div>
                                    <div class="testimonials-author-box">
                                        <div class="testimonials-author">
                                            <div class="testimonials-author-image">
                                                <figure>
                                                    <img src="assets/images/avatar/avatar-2.jpg" alt="avatar">
                                                </figure>
                                            </div>
                                            <div class="testimonials-author-content">
                                                <h2>Елена Смирнова</h2>
                                                <p>Руководитель отдела продаж</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials item end -->
                            </div>
                            <!-- swiper slide end -->
                            <!-- swiper slide start -->
                            <div class="swiper-slide">
                                <!-- testimonials item start -->
                                <div class="testimonials-item right-after">
                                    <div class="testimonials-meta">
                                        <div class="testimonials-quote">
                                            <i class="fa-solid fa-quote-left"></i>
                                        </div>
                                        <div class="testimonials-rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                        </div>
                                    </div>
                                    <div class="testimonials-content">
                                        <p>«BotSync помог нам создать базу знаний для внутренних нужд HR. Теперь
                                            сотрудники получают ответы на вопросы по страховкам и отпускам
                                            мгновенно, не отвлекая специалистов.»</p>
                                    </div>
                                    <div class="testimonials-author-box">
                                        <div class="testimonials-author">
                                            <div class="testimonials-author-image">
                                                <figure>
                                                    <img src="assets/images/avatar/avatar-3.jpg" alt="avatar">
                                                </figure>
                                            </div>
                                            <div class="testimonials-author-content">
                                                <h2>Дмитрий Волков</h2>
                                                <p>HR-директор</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials item end -->
                            </div>
                            <!-- swiper slide end -->
                        </div>
                        <!-- swiper wrapper end -->
                        <!-- swiper actions start -->
                        <div class="swiper-actions ms-2 mt-30">
                            <div class="dot"></div>
                        </div>
                        <!-- swiper actions end -->
                    </div>
                    <!-- testimonials slider end -->

                </div>
                <!-- testimonials right end -->
            </div>
        </div>
    </div>
</section>
<!-- testimonials section end -->
