---

---
<!-- video section start -->
<div class="video-section-1 mlr">
    <div class="video-wapper" data-img-src="assets/images/video/bg-vodeo-1.jpg">
        <div class="video-circle">
            <div class="cta-video-wapper wow fadeInUp" data-wow-delay=".2s">
                <a class="video-popup video-play play-center text-accent-one" href="https://www.youtube.com/watch?v=Y-x0efG1seA" aria-label="play video">
                    <span class="icon"><i class="fa-solid fa-play"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- video section end -->