---

---
<!-- footer start -->
<footer class="footer footer-3">
    <!-- bakground assets start -->
    <div class="bakground-assets">
        <img class="shado-top" src="/assets/images/footer/shado-top.png" alt="footer shado top">
    </div>
    <!-- bakground assets end -->

    <!-- footer bottom start -->
    <div class="footer-bottom">
        <div class="container">
            <!-- footer widget wrap start -->
            <div class="footer-widget-wrap">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-12">
                        <!-- footer widget start -->
                        <div class="footer-widget footer-widget-about wow fadeInUp" data-wow-delay=".2s">
                            <div class="footer-logo mb-20">
                                <a href="/">
                                    <figure>
                                        <img src="/assets/images/logo/logo.png" alt="footer logo" width="50" height="50">
                                    </figure>
                                </a>
                            </div>
                            <div class="info">
                                <a class="email text-decoration-underline"
                                   href="mailto:uniqdeveloper@yandex.ru">uniqdeveloper@yandex.ru</a>
                                <a class="call" href="https://t.me/W1DO_DIGITAL">Telegram: W1DO_DIGITAL</a>
                            </div>
                            <!-- footer social icon start -->
                            <div class="footer-social-icon">
                                <ul class="social-icon">
                                    <li>
                                        <a href="https://t.me/W1DO_DIGITAL" aria-label="telegram"><i
                                                class="fa-brands fa-telegram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- footer social icon end -->
                        </div>
                        <!-- footer widget end -->
                    </div>
                    <div class="col-xl-8 col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <!-- footer widget start -->
                                        <div class="footer-widget footer-widget-quick-links wow fadeInUp"
                                             data-wow-delay=".3s">
                                            <h3 class="footer-widget-title line-anime">Ссылки</h3>
                                            <!-- widget link start -->
                                            <div class="widget-link">
                                                <ul class="link">
                                                    <li>
                                                        <a href="/"><i
                                                                class="fa-solid fa-chevron-right"></i> Главная</a>
                                                    </li>
                                                    <li>
                                                        <a href="/chatbot-ai"><i
                                                                class="fa-solid fa-chevron-right"></i> ИИ Чат-бот</a>
                                                    </li>
                                                    <li>
                                                        <a href="/automated-answers-rag"><i
                                                                class="fa-solid fa-chevron-right"></i> RAG Автоответы</a>
                                                    </li>
                                                    <li>
                                                        <a href="/chatbot-integration"><i
                                                                class="fa-solid fa-chevron-right"></i> Внедрение на сайт</a>
                                                    </li>
                                                    <li>
                                                        <a href="/possibilities"><i
                                                                class="fa-solid fa-chevron-right"></i> Возможности</a>
                                                    </li>
                                                    <li>
                                                        <a href="/knowledge-base-rag"><i
                                                                class="fa-solid fa-chevron-right"></i> База знаний RAG</a>
                                                    </li>
                                                    <li>
                                                        <a href="/rag-systems"><i
                                                                class="fa-solid fa-chevron-right"></i> RAG Системы</a>
                                                    </li>
                                                    <li>
                                                        <a href="/avito-ai-agent"><i
                                                                class="fa-solid fa-chevron-right"></i> ИИ Агент для Авито</a>
                                                    </li>
                                                    <li>
                                                        <a href="/car-service-ai"><i
                                                                class="fa-solid fa-chevron-right"></i> ИИ для Автосервиса</a>
                                                    </li>
                                                    <li>
                                                        <a href="/src/pages/pricing"><i
                                                                class="fa-solid fa-chevron-right"></i> Тарифы</a>
                                                    </li>
                                                    <li>
                                                        <a href="/faq"><i
                                                                class="fa-solid fa-chevron-right"></i> FAQ</a>
                                                    </li>
                                                    <li>
                                                        <a href="/contact"><i
                                                                class="fa-solid fa-chevron-right"></i> Контакты</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- widget link end -->
                                        </div>
                                        <!-- footer widget end -->
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <!-- footer widget start -->
                                        <div class="footer-widget footer-widget-services wow fadeInUp"
                                             data-wow-delay=".4s">
                                            <h3 class="footer-widget-title line-anime">Поддержка</h3>
                                            <!-- widget link start -->
                                            <div class="widget-link">
                                                <ul class="link">
                                                    <li>
                                                        <a href="/faq"><i
                                                                class="fa-solid fa-chevron-right"></i> FAQ</a>
                                                    </li>
                                                    <li>
                                                        <a href="/contact"><i
                                                                class="fa-solid fa-chevron-right"></i>
                                                            Написать нам</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- widget link end -->
                                        </div>
                                        <!-- footer widget end -->
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <!-- footer widget start -->
                                        <div class="footer-widget footer-widget-subscribe wow fadeInUp"
                                             data-wow-delay=".5s">
                                            <h4 class="footer-widget-title line-anime">Рассылка</h4>
                                            <div class="widget-contact">
                                                <p class="text-white">Подпишитесь на новости и спецпредложения BotSync.</p>
                                                <!-- subscribe form start -->
                                                <form action="#" class="subscribe-form" id="subscribe-form">
                                                    <div class="input-group">
                                                        <input type="text" id="emailid" name="emailid"
                                                               placeholder="Ваш email" autocomplete="off"
                                                               required="required">
                                                    </div>
                                                    <button type="submit" class="submit-btn"
                                                            data-text="подписаться" aria-label="subscribe"> <i
                                                            class="fa-solid fa-paper-plane"></i> </button>
                                                </form>
                                                <!-- subscribe form end -->
                                            </div>
                                        </div>
                                        <!-- footer widget end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer widget wrap end -->
        </div>
    </div>
    <!-- footer bottom end -->

    <!-- footer top start -->
    <div class="footer-copyright">
        <div class="container">
            <div class="footer-copyright-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- footer copyright start -->
                        <div class="copyright-text wow fadeInUp" data-wow-delay=".2s">
                            <p class="m-0">&#169; Copyright 2026 BotSync Все права защищены. Разработка <a href="https://t.me/W1DO_DIGITAL" class="text-decoration-underline">W1DO DIGITAL</a></p>
                        </div>
                        <!-- footer copyright end -->
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <!-- footer bottom nav start -->
                        <ul class="footer-bottom-nav wow fadeInUp" data-wow-delay=".3s">
                            <li><a class="line-effect" href="/terms">Условия использования</a></li>
                            <li><a class="line-effect" href="/privacy">Политика конфиденциальности</a></li>
                        </ul>
                        <!-- footer bottom nav end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer copyright end -->
</footer>
<!-- footer end -->