---

---

<!-- header start -->
<header class="header header-3">
    <!-- header lower start -->
    <div class="header-lower">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between g-0">
                <div class="col-12">
                    <!-- header content start -->
                    <div class="header-content d-flex align-items-center">
                        <!-- header left start -->
                        <div class="header-left">
                            <!-- logo box start -->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="index.html">
                                        <figure>
                                            <img src="assets/images/logo/logo.svg" alt="header logo">
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <!-- logo box end  -->
                        </div>
                        <!-- header right end -->

                        <!-- header navigation start -->
                        <div class="header-navigation d-flex align-items-center m-auto">
                            <!-- main menu -->
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="menu-thumb">
                                            <a class="nav-link" href="index.html">Home<i
                                                    class="fa-solid fa-angle-down"></i></a>
                                            <ul class="has-homemenu">
                                                <li>
                                                    <a href="index.html">
                                                        <img src="assets/images/header/home-1.jpg"
                                                             alt="home one">
                                                        Ai Saas
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="index-2.html">
                                                        <img src="assets/images/header/home-2.jpg"
                                                             alt="home two">
                                                        Ai Agency
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="index-3.html">
                                                        <img src="assets/images/header/home-3.jpg"
                                                             alt="home three">
                                                        Ai Image
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about.html">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about.html">Pages<i
                                                    class="fa-solid fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="about.html">About Us</a></li>
                                                <li class="has-dropdown">
                                                    <a href="project.html">Project <i
                                                            class="fa-solid fa-chevron-right"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="project.html">Project</a></li>
                                                        <li><a href="project-details.html">Project Details</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="team.html">Team <i
                                                            class="fa-solid fa-chevron-right"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="team.html">Team</a></li>
                                                        <li><a href="team-details.html">Team Details</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="image-gallery.html">Image Gallery</a></li>
                                                <li><a href="faq.html">Faq's</a></li>
                                                <li><a href="error.html">404 Error</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                                <li class="has-dropdown">
                                                    <a href="login.html">Authentication <i
                                                            class="fa-solid fa-chevron-right"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="sign-up.html">Sign Up</a></li>
                                                        <li><a href="forgot-password.html">Forgot Password</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="services.html">Services<i
                                                    class="fa-solid fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="services-details.html">Services Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="blog.html">Blog <i
                                                    class="fa-solid fa-chevron-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog Grid</a></li>
                                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- header navigation end -->

                        <!-- header right start -->
                        <div class="header-right d-flex align-items-center gap-3">
                            <!-- header button -->
                            <div class="header-button">
                                <a href="contact.html" class="theme-button style-1" aria-label="Start For Free">
                                    <span data-text="Start For Free">Start For Free</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>

                            <!-- button wapper -->
                            <div class="button-wapper">
                                <!-- header-search -->
                                <div class="header-search">
                                    <a href="" class="search-btn" aria-label="search">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </div>
                                <!-- header sidebar  -->
                                <div class="header-sidebar">
                                    <a class="sidebar-toggler" data-bs-toggle="offcanvas"
                                       href="#offcanvas-sidebar" aria-label="sidebar toggler" role="button"
                                       aria-controls="offcanvas-sidebar">
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- header right end -->
                    </div>
                    <!-- header content end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header lower end -->

    <!-- search box start -->
    <div id="search-box">
                <span class="close">
                    <i class="fa-solid fa-xmark"></i>
                </span>
        <div class="search-wapper">
            <form action="#" class="search-form" id="search-form">
                <div class="input-group">
                    <input type="text" id="searchs" name="search" placeholder="Type to search"
                           autocomplete="off" required="required">
                </div>
                <button type="submit" class="search-submit-btn" data-text="search submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- search box end -->
</header>
<!-- header end-->