---

---
<!-- preloader start -->
<div class="preloader">
    <div class="preloader-icon">
        <img src="assets/images/loader.svg" alt="loader image">
    </div>
    <div class="preloader-text">
        <p>P</p>
        <p>e</p>
        <p>x</p>
        <p>o</p>
        <p>r</p>
        <p>a</p>
    </div>
</div>
<!-- preloader end -->