---

---
<!-- preloader start -->
<div class="preloader">
    <div class="preloader-icon">
        <img src="/assets/images/loader.svg" alt="loader image">
    </div>
    <div class="preloader-text">
        <p>B</p>
        <p>O</p>
        <p>T</p>
        <p>S</p>
        <p>Y</p>
        <p>N</p>
        <p>K</p>
    </div>
</div>
<!-- preloader end -->