---

---

<!-- jQuery -->
<script src="/assets/js/jquery-3.7.1.min.js" is:inline></script>
<!-- bootstrap js -->
<script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>
<!-- jquery meanmenu js -->
<script src="/assets/js/jquery.meanmenu.min.js" is:inline></script>
<!-- swiper js -->
<script src="/assets/js/swiper-bundle.min.js" is:inline></script>
<!-- wow Js -->
<script src="/assets/js/wow.min.js" is:inline></script>
<!-- validate js -->
<script src="/assets/js/validate.min.js" is:inline></script>
<!-- ajax form Js -->
<script src="/assets/js/ajax-form.js" is:inline></script>
<!-- SmoothScroll Js -->
<script src="/assets/js/SmoothScroll.js" is:inline></script>
<!-- appear Js -->
<script src="/assets/js/jquery.appear.js" is:inline></script>
<!-- magnific Js -->
<script src="/assets/js/jquery.magnific-popup.min.js" is:inline></script>
<!-- syotimer Js -->
<script src="/assets/js/jquery.syotimer.min.js" is:inline></script>
<!-- main Js -->
<script src="/assets/js/main.js" is:inline></script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=105578537', 'ym');

    ym(105578537, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/105578537" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


