---

---

<!-- offcanvas sidebar start -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas-sidebar">
    <!-- offcanvas header start -->
    <div class="offcanvas-header">
        <!-- offcanvas logo start -->
        <div class="offcanvas-logo">
            <figure>
                <img src="assets/images/logo/logo.svg" alt="offcanvas logo">
            </figure>
        </div>
        <!-- offcanvas logo emd -->
        <!-- offcanvas close start -->
        <button type="button" class="offcanvas-close bg-transparent" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        <!-- offcanvas close end -->
    </div>
    <!-- offcanvas header end -->
    <!-- offcanvas body start -->
    <div class="offcanvas-body">
        <!-- menu outer start -->
        <div class="mobile-menu">
            <!-- Here menu will come automatically via javascript / same menu as in header -->
        </div>
        <!-- menu outer end -->
        <!-- offcanvas about start -->
        <div class="offcanvas-about d-none d-xl-block">
            <p>There are many variations of passages available sure there majority have suffered alteration in
                some form by inject humour or randomised words which don't look even slightly believable.</p>
        </div>
        <!-- offcanvas about end -->
        <!-- offcanvas contact start -->
        <div class="offcanvas-contact">
            <!-- widget-contact start -->
            <div class="widget widget-contact">
                <!-- widget title start -->
                <div class="widget-title">
                    <h3>Contact Info</h3>
                </div>
                <!-- widget title end -->
                <!-- widget content start -->
                <div class="widget-content">
                    <!-- offcanvas cta item start -->
                    <div class="offcanvas-cta-item">
                        <!-- offcanvas cta list start -->
                        <div class="offcanvas-cta-list">
                            <div class="offcanvas-cta-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="offcanvas-cta-content">
                                <p>123 Serenity Lane, Suite 101, Hometown, CA 12345</p>
                            </div>
                        </div>
                        <!-- offcanvas cta list end -->
                        <!-- offcanvas cta list start -->
                        <div class="offcanvas-cta-list">
                            <div class="offcanvas-cta-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="offcanvas-cta-content">
                                <a href="mailto:info@example.com">info@example.com</a>
                            </div>
                        </div>
                        <!-- offcanvas cta list end -->
                        <!-- offcanvas cta list start -->
                        <div class="offcanvas-cta-list">
                            <div class="offcanvas-cta-icon">
                                <i class="fa-solid fa-phone-volume"></i>
                            </div>
                            <div class="offcanvas-cta-content">
                                <a href="tel:123446788">+1 234 467 88</a>
                            </div>
                        </div>
                        <!-- offcanvas cta list end -->
                    </div>
                    <!-- offcanvas cta item end -->
                </div>
                <!-- widget content end -->
            </div>
            <!-- widget-contact end -->
        </div>
        <!-- offcanvas contact end -->
        <!-- offcanvas button wapper start -->
        <div class="offcanvas-button-wapper">
            <a href="contact.html" class="theme-button style-1" aria-label="Start For Free">
                <span data-text="Start For Free">Start For Free</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <!-- offcanvas button wapper end -->
        <!-- offcanvas social start -->
        <div class="offcanvas-social">
            <!-- widget social media start -->
            <div class="widget widget-social-media">
                <!-- widget content start -->
                <div class="widget-content">
                    <ul class="social-icon">
                        <li>
                            <a href="#" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" aria-label="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#" aria-label="twitter"><i class="fa-brands fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" aria-label="pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- widget content end -->
            </div>
            <!-- widget social media end -->
        </div>
        <!-- offcanvas-social end -->
    </div>
    <!-- offcanvas body end -->
</div>
<!-- offcanvas sidebar end -->