---

---

<!-- offcanvas sidebar start -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas-sidebar">
    <!-- offcanvas header start -->
    <div class="offcanvas-header">
        <!-- offcanvas logo start -->
        <div class="offcanvas-logo">
            <figure>
                <img src="/assets/images/logo/logo.png" alt="botsync">
            </figure>
        </div>
        <!-- offcanvas logo emd -->
        <!-- offcanvas close start -->
        <button type="button" class="offcanvas-close bg-transparent" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        <!-- offcanvas close end -->
    </div>
    <!-- offcanvas header end -->
    <!-- offcanvas body start -->
    <div class="offcanvas-body">
        <!-- menu outer start -->
        <div class="mobile-menu">
            <!-- Here menu will come automatically via javascript / same menu as in header -->
        </div>
        <!-- menu outer end -->
        <!-- offcanvas about start -->
        <div class="offcanvas-about d-none d-xl-block">
            <p>BotSync — это передовая RAG-платформа, которая превращает ваши данные в умных ИИ-ассистентов. Мы помогаем бизнесу автоматизировать коммуникации и создавать глубокие диалоговые системы на основе базы знаний компании.</p>
        </div>
        <!-- offcanvas about end -->
        <!-- offcanvas contact start -->
        <div class="offcanvas-contact">
            <!-- widget-contact start -->
            <div class="widget widget-contact">
                <!-- widget title start -->
                <div class="widget-title">
                    <h3>Контакты</h3>
                </div>
                <!-- widget title end -->
                <!-- widget content start -->
                <div class="widget-content">
                    <!-- offcanvas cta item start -->
                    <div class="offcanvas-cta-item">
                        <!-- offcanvas cta list start -->
                        <div class="offcanvas-cta-list">
                            <div class="offcanvas-cta-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="offcanvas-cta-content">
                                <a href="mailto:uniqdeveloper@yandex.ru">uniqdeveloper@yandex.ru</a>
                            </div>
                        </div>
                        <!-- offcanvas cta list end -->
                        <!-- offcanvas cta list start -->
                        <div class="offcanvas-cta-list">
                            <div class="offcanvas-cta-icon">
                                <i class="fa-brands fa-telegram"></i>
                            </div>
                            <div class="offcanvas-cta-content">
                                <a href="https://t.me/W1DO_DIGITAL">@W1DO_DIGITAL</a>
                            </div>
                        </div>
                        <!-- offcanvas cta list end -->
                    </div>
                    <!-- offcanvas cta item end -->
                </div>
                <!-- widget content end -->
            </div>
            <!-- widget-contact end -->
        </div>
        <!-- offcanvas contact end -->
        <!-- offcanvas button wapper start -->
        <div class="offcanvas-button-wapper">
            <a href="/contact" class="theme-button style-1" aria-label="Начать бесплатно">
                <span data-text="Начать бесплатно">Начать бесплатно</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <!-- offcanvas button wapper end -->
        <!-- offcanvas social start -->
        <div class="offcanvas-social">
            <!-- widget social media start -->
            <div class="widget widget-social-media">
                <!-- widget content start -->
                <div class="widget-content">
                    <ul class="social-icon">
                        <li>
                            <a href="https://t.me/W1DO_DIGITAL" aria-label="telegram"><i class="fa-brands fa-telegram"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- widget content end -->
            </div>
            <!-- widget social media end -->
        </div>
        <!-- offcanvas-social end -->
    </div>
    <!-- offcanvas body end -->
</div>
<!-- offcanvas sidebar end -->