---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<!-- hero section start -->
	<section class="hero-section-3">
		<!-- bakground assets start -->
		<div class="bakground-assets">
			<img class="line-top" src="assets/images/hero/bg-line-two.png" alt="hero line">
			<img class="shape-one" src="assets/images/hero/light-shape-1.png" alt="hero light shape one">
			<img class="shape-two" src="assets/images/hero/light-shape-2.png" alt="hero light shape two">
		</div>
		<!-- bakground assets end -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- hero wapper start -->
					<div class="hero-wapper">
						<!-- hero content start -->
						<div class="hero-content">
							<div class="section-title align-items-center">
								<span class="sub-title">Ai Automation for Scalable Businesses</span>
								<h1>Create Stunning
									<span>AI Images</span>
									with Just a <span class="prompt">
                                                <svg class="circle1" width="8" height="8" viewBox="0 0 8 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="4" cy="4" r="4" fill="currentColor"></circle>
                                                </svg>
                                                <svg class="circle2" width="8" height="8" viewBox="0 0 8 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="4" cy="4" r="4" fill="currentColor"></circle>
                                                </svg>
                                                Prompt
                                                <svg class="circle3" width="8" height="8" viewBox="0 0 8 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="4" cy="4" r="4" fill="currentColor"></circle>
                                                </svg>
                                                <svg class="circle4" width="8" height="8" viewBox="0 0 8 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="4" cy="4" r="4" fill="currentColor"></circle>
                                                </svg>
                                            </span>
									<img src="assets/images/hero/tag-image.png" alt="tag image">
								</h1>
								<p class="desc">The best AI image generator for creators. Our AI art generator
									and AI photo generator transforms your text to image instantly. Create
									photorealistic photos, digital art, anime, and more simply describe what you
									want.</p>
							</div>

							<div class="hero-input-box">
								<form action="#" class="input-form" id="input-forms">
									<div class="hero-input-group">
                                                <textarea name="search" id="search"
                                                          placeholder="Describe the image you want to create"></textarea>
									</div>
									<div class="hero-input-buttons">
										<div class="hero-button-left">
											<div class="hero-plus">
												<a href="#" aria-label="plus"><i class="fa-solid fa-plus"></i></a>
											</div>
											<div class="hero-tool">
												<a href="#" aria-label="tools"><i class="fa-solid fa-sliders"></i> Tools</a>
											</div>
										</div>
										<div class="hero-button-right">
											<button type="submit" class="submit-btn" data-text="submit" aria-label="paper plane">
												<i class="fa-solid fa-paper-plane"></i>
											</button>
										</div>
									</div>
								</form>
							</div>

							<div class="hero-footer">
								<ul>
									<li>Create image</li>
									<li>Create GIF</li>
									<li>Create SVG</li>
									<li>Create PNG</li>
									<li>Create JPG</li>
									<li>Create WEBP</li>
								</ul>
							</div>

						</div>
						<!-- hero content end -->
					</div>
					<!-- hero wapper end -->
				</div>
			</div>
		</div>
	</section>
	<!-- hero section end -->

	<!-- image section start -->
	<div class="image-section">
		<!-- bakground assets start -->
		<div class="bakground-assets">
			<img class="shape-one" src="assets/images/image/shape-top.png" alt="shape top">
			<img class="shape-two" src="assets/images/image/shape-bottom.png" alt="shape bottom">
		</div>
		<!-- bakground assets end -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<!-- image wapper start -->
					<div class="image-wapper">
						<!-- image box start -->
						<div class="image-box">
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-1.jpg" alt="image one">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-2.jpg" alt="image two">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-3.jpg" alt="image three">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-4.jpg" alt="image four">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-5.jpg" alt="image five">
								</figure>
							</div>
							<!-- image item start -->
						</div>
						<!-- image box end -->
						<!-- image box start -->
						<div class="image-box">
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-1.jpg" alt="image one">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-2.jpg" alt="image two">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-3.jpg" alt="image three">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-4.jpg" alt="image four">
								</figure>
							</div>
							<!-- image item end -->
							<!-- image item start -->
							<div class="image-item">
								<figure>
									<img src="assets/images/image/image-5.jpg" alt="image five">
								</figure>
							</div>
							<!-- image item end -->
						</div>
						<!-- image box end -->
					</div>
					<!-- image wapper end -->
				</div>
			</div>
		</div>
	</div>
	<!-- image section end -->

	<!-- micon section start -->
	<section class="micon-section pt-100 md-pt-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- micon wapper start -->
					<div class="micon-wapper">
						<!-- micon items start -->
						<div class="micon-items right-after wow fadeInUp" data-wow-delay=".3s">
							<div class="micon-content">
								<h2>Premium <br> Materials</h2>
								<p>Lorem ipsum dolor sit amet, compor incididunt ut labo enim ut labo enim ad mini.</p>
							</div>
						</div>
						<!-- micon items end -->
						<!-- micon items start -->
						<div class="micon-items right-after wow fadeInUp" data-wow-delay=".4s">
							<div class="micon-content">
								<h2>Advanced <br> Forgiveness</h2>
								<p>Lorem ipsum dolor sit amet, compor incididunt ut labo enim ut labo enim ad mini.</p>
							</div>
						</div>
						<!-- micon items end -->
						<!-- micon items start -->
						<div class="micon-items right-after wow fadeInUp" data-wow-delay=".5s">
							<div class="micon-content">
								<h2>Customizable <br> Options</h2>
								<p>Lorem ipsum dolor sit amet, compor incididunt ut labo enim ut labo enim ad mini.</p>
							</div>
						</div>
						<!-- micon items end -->
					</div>
					<!-- micon wapper end -->
				</div>
			</div>
		</div>
	</section>
	<!-- micon section end -->

	<!-- image generator section start -->
	<section class="image-generator-section pt-100 md-pt-80 pb-100 md-pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title start -->
					<div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
						<span class="sub-title">Image Generator</span>
						<h2>What is an <span>AI Image</span> Generator?</h2>
					</div>
					<!-- section title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="image-generator-wapper">
						<!-- image-generator items start -->
						<div class="image-generator-items right-after wow fadeInUp" data-wow-delay=".3s">
							<div class="image-generator-icon">
								<figure>
									<img src="assets/images/image-generator/icon-1.png" alt="generator one">
								</figure>
							</div>
							<div class="image-generator-content">
								<h2>Intelligent graphic generator</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
						</div>
						<!-- image-generator items end -->
						<!-- image-generator items start -->
						<div class="image-generator-items right-after wow fadeInUp" data-wow-delay=".4s">
							<div class="image-generator-icon">
								<figure>
									<img src="assets/images/image-generator/icon-2.png" alt="generator two">
								</figure>
							</div>
							<div class="image-generator-content">
								<h2>From prompt to <br> image</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
						</div>
						<!-- image-generator items end -->
						<!-- image-generator items start -->
						<div class="image-generator-items right-after wow fadeInUp" data-wow-delay=".5s">
							<div class="image-generator-icon">
								<figure>
									<img src="assets/images/image-generator/icon-3.png" alt="generator three">
								</figure>
							</div>
							<div class="image-generator-content">
								<h2>Made for creators and designers</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
						</div>
						<!-- image-generator items end -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- image generator footer start -->
					<div class="image-generator-footer mt-30 wow fadeInUp" data-wow-delay=".6s">
						<div class="image-generator-button text-center">
							<a href="contact.html" class="theme-button style-1" aria-label="Start For Free">
								<span data-text="Start For Free">Start For Free</span>
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
					<!-- image generator footer end -->
				</div>
			</div>
		</div>
	</section>
	<!-- image generator section end -->

	<!-- why section start -->
	<section class="why-section mlr">
		<!-- why wapper start -->
		<div class="why-wapper pt-100 md-pt-80 pb-100 md-pb-80">
			<div class="bakground-assets">
				<img class="shape-four" src="assets/images/hero/hero-2-shape-4.png" alt="hero shape four">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<!-- section title start -->
						<div class="section-title wow fadeInUp" data-wow-delay=".2s">
							<span class="sub-title">Why Used</span>
							<h2>Why should you use this <span>free AI image</span> generator?</h2>
						</div>
						<!-- section title end -->
					</div>
					<div class="col-lg-8">
						<div class="why-box">
							<!-- why items start -->
							<div class="why-items right-after wow fadeInUp" data-wow-delay=".3s">
								<div class="why-icon">
									<figure>
										<img src="assets/images/why/icon-1.png" alt="why one">
									</figure>
								</div>
								<div class="why-content">
									<h2>Free to use</h2>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<!-- why items end -->
							<!-- why items start -->
							<div class="why-items right-after wow fadeInUp" data-wow-delay=".4s">
								<div class="why-icon">
									<figure>
										<img src="assets/images/why/icon-2.png" alt="why two">
									</figure>
								</div>
								<div class="why-content">
									<h2>Multi-model engine</h2>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<!-- why items end -->
							<!-- why items start -->
							<div class="why-items right-after wow fadeInUp" data-wow-delay=".5s">
								<div class="why-icon">
									<figure>
										<img src="assets/images/why/icon-3.png" alt="why three">
									</figure>
								</div>
								<div class="why-content">
									<h2>Built-In prompt</h2>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<!-- why items end -->
							<!-- why items start -->
							<div class="why-items right-after wow fadeInUp" data-wow-delay=".6s">
								<div class="why-icon">
									<figure>
										<img src="assets/images/why/icon-4.png" alt="why four">
									</figure>
								</div>
								<div class="why-content">
									<h2>Edit & download</h2>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
							</div>
							<!-- why items end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- why wapper end -->
	</section>
	<!-- why section end -->

	<!-- project section start -->
	<section class="project-section-3 pt-100 md-pt-80 pb-100 md-pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title start -->
					<div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
						<span class="sub-title">Our Project</span>
						<h2>Our <span>Projects</span> &amp; Case Studiese</h2>
					</div>
					<!-- section title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- project wapper start -->
					<div class="project-wapper grid-1">
						<!-- project item start -->
						<div class="project-item sticky">
							<div class="project-image order-lg-2">
								<a href="project-details.html">
									<figure class="image-anime">
										<img src="assets/images/project/project-3-1.jpg" alt="project image one">
									</figure>
								</a>
							</div>
							<div class="project-content">
								<h2><a href="project-details.html">Where can you use AI-generated images?</a></h2>
								<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
								<div class="check-list mb-30">
									<ul>
										<li>Design posters, ads, or event flyers</li>
										<li>Create custom art for websites and apps</li>
										<li>Make social media content that feels original</li>
										<li>Explore visual branding ideas for clients</li>
									</ul>
								</div>
								<div class="project-button">
									<a href="project-details.html" class="theme-button style-1" aria-label="View All Details">
										<span data-text="View All Details">View All Details</span>
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- project item end -->
						<!-- project item start -->
						<div class="project-item sticky">
							<div class="project-image order-lg-2">
								<a href="project-details.html">
									<figure class="image-anime">
										<img src="assets/images/project/project-3-2.jpg" alt="project image two">
									</figure>
								</a>
							</div>
							<div class="project-content">
								<h2><a href="project-details.html">Tips for achieving the best results</a></h2>
								<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
								<div class="check-list mb-30">
									<ul>
										<li>Design posters, ads, or event flyers</li>
										<li>Create custom art for websites and apps</li>
										<li>Make social media content that feels original</li>
										<li>Explore visual branding ideas for clients</li>
									</ul>
								</div>
								<div class="project-button">
									<a href="project-details.html" class="theme-button style-1" aria-label="View All Details">
										<span data-text="View All Details">View All Details</span>
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- project item end -->
						<!-- project item start -->
						<div class="project-item sticky">
							<div class="project-image order-lg-2">
								<a href="project-details.html">
									<figure class="image-anime">
										<img src="assets/images/project/project-3-3.jpg" alt="project image three">
									</figure>
								</a>
							</div>
							<div class="project-content">
								<h2><a href="project-details.html">Download and edit your images</a></h2>
								<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
								<div class="check-list mb-30">
									<ul>
										<li>Design posters, ads, or event flyers</li>
										<li>Create custom art for websites and apps</li>
										<li>Make social media content that feels original</li>
										<li>Explore visual branding ideas for clients</li>
									</ul>
								</div>
								<div class="project-button">
									<a href="project-details.html" class="theme-button style-1" aria-label="View All Details">
										<span data-text="View All Details">View All Details</span>
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- project item end -->
					</div>
					<!-- project wapper end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- project start -->
					<div class="project-footer">
						<p>We help businesses design, build, and deploy intelligent solutions that drive real results. <a href="project.html">View All Project</a></p>
					</div>
					<!-- more event content end -->
				</div>
			</div>
		</div>
	</section>
	<!-- project section end -->

	<!-- marquee ticker section start -->
	<div class="marquee-ticker-section">
		<div class="marquee-ticker-box">
			<div class="marquee-content">
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image one">
				</div>
				<p data-text="Our Community">
					AI Generated
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image two">
				</div>
				<p data-text="Donate Now">
					AI Image
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image three">
				</div>
				<p data-text="Save a Life">
					Prompt to Image
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image four">
				</div>
				<p data-text="Our Support">
					AI GIF
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image two">
				</div>
				<p data-text="Our Community">
					AI JPG
				</p>
			</div>
			<div class="marquee-content">
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image one">
				</div>
				<p data-text="Our Community">
					AI Generated
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image two">
				</div>
				<p data-text="Donate Now">
					AI Image
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image three">
				</div>
				<p data-text="Save a Life">
					Prompt to Image
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image four">
				</div>
				<p data-text="Our Support">
					AI GIF
				</p>
				<div class="marquee-icon">
					<img src="assets/images/icon/marquee.png" alt="marquee image two">
				</div>
				<p data-text="Our Community">
					AI JPG
				</p>
			</div>
		</div>
	</div>
	<!-- marquee ticker section end -->

	<!-- how works section start -->
	<section class="how-it-work-section pt-100 md-pt-80 pb-100 md-pb-80">
		<!-- bakground assets start -->
		<div class="bakground-assets">
			<img class="shape-left" src="assets/images/how-it-work/how-it-work-shape.png" alt="shape one">
			<img class="shape-right" src="assets/images/how-it-work/how-it-work-shape.png" alt="shape two">
		</div>
		<!-- bakground assets end -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title start -->
					<div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
						<span class="sub-title">How it works</span>
						<h2>Our <span>process</span> for smarter AI solutions</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
					</div>
					<!-- section title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<!-- how it work item start -->
					<div class="how-it-work-item mt-lg-5 wow fadeInUp" data-wow-delay=".3s">
						<div class="how-it-work-data right-after">
							<div class="how-it-work-icon">
								<div class="icon">
									<figure>
										<img src="assets/images/how-it-work/icon-3-1.png" alt="icon how it work one">
									</figure>
								</div>
							</div>
							<div class="how-it-work-content">
								<h2>Type your prompt</h2>
								<p>Start with a text description or add a reference image to guide structure, colors, or vibe.</p>
							</div>
						</div>
						<div class="how-it-work-num">01</div>
					</div>
					<!-- how it work item start -->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<!-- how it work item start -->
					<div class="how-it-work-item wow fadeInUp" data-wow-delay=".4s">
						<div class="how-it-work-data right-after">
							<div class="how-it-work-icon">
								<div class="icon">
									<figure>
										<img src="assets/images/how-it-work/icon-3-2.png" alt="icon how it work two">
									</figure>
								</div>
							</div>
							<div class="how-it-work-content">
								<h2>Choose an AI model</h2>
								<p>Start with a text description or add a reference image to guide structure, colors, or vibe.</p>
							</div>
						</div>
						<div class="how-it-work-num">02</div>
					</div>
					<!-- how it work item start -->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<!-- how it work item start -->
					<div class="how-it-work-item mt-lg-5 wow fadeInUp" data-wow-delay=".5s">
						<div class="how-it-work-data right-after">
							<div class="how-it-work-icon">
								<div class="icon">
									<figure>
										<img src="assets/images/how-it-work/icon-3-3.png" alt="icon how it work three">
									</figure>
								</div>
							</div>
							<div class="how-it-work-content">
								<h2>Edit and save</h2>
								<p>Start with a text description or add a reference image to guide structure, colors, or vibe.</p>
							</div>
						</div>
						<div class="how-it-work-num">03</div>
					</div>
					<!-- how it work item start -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- how it work footer start -->
					<div class="how-it-work-footer text-center wow fadeInUp" data-wow-delay=".6s" >
						<p>We help businesses design, build, and deploy intelligent solutions that drive real results. <a href="contact.html">Contact Now</a></p>
					</div>
					<!-- how it work footer end -->
				</div>
			</div>
		</div>
	</section>
	<!-- how works section end -->

	<!-- video section start -->
	<div class="video-section-1 mlr">
		<div class="video-wapper" data-img-src="assets/images/video/bg-vodeo-1.jpg">
			<div class="video-circle">
				<div class="cta-video-wapper wow fadeInUp" data-wow-delay=".2s">
					<a class="video-popup video-play play-center text-accent-one" href="https://www.youtube.com/watch?v=Y-x0efG1seA" aria-label="play video">
						<span class="icon"><i class="fa-solid fa-play"></i></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- video section end -->

	<!-- testimonials section start -->
	<section class="testimonials-section-3 pt-100 md-pt-80 pb-100 md-pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				</div>
			</div>
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="testimonials-left wow fadeInUp" data-wow-delay=".2s">
						<!-- section title start -->
						<div class="section-title">
							<span class="sub-title">Real World Ai Implementation</span>
							<h2>Hear what our about <span>customer</span></h2>
							<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
						</div>
						<!-- section title end -->

						<!-- testimonials avatar-wapper start -->
						<div class="testimonials-avatar-wapper">
							<ul class="testimonials-avatar-list mb-0 d-flex gap-0">
								<li>
									<figure>
										<img src="assets/images/avatar/avatar-1.jpg" alt="about avtara one">
									</figure>
								</li>
								<li>
									<figure>
										<img src="assets/images/avatar/avatar-2.jpg" alt="about avtara two">
									</figure>
								</li>
								<li>
									<figure>
										<img src="assets/images/avatar/avatar-3.jpg"
										     alt="about avtara three">
									</figure>
								</li>
								<li>
									<figure>
										<img src="assets/images/avatar/avatar-4.jpg"
										     alt="about avtara four">
									</figure>
								</li>
								<li>
									<span>40+</span>
								</li>
							</ul>
							<div class="review-content">
								<p>16K+ Membership Join as a Volunteer</p>
							</div>
						</div>
						<!-- testimonials avatar-wapper end -->
					</div>
				</div>
				<div class="col-lg-6">
					<!-- testimonials right start -->
					<div class="testimonials-right">
						<!-- testimonials slider start -->
						<div class="swiper testimonials-slider-one">
							<!-- swiper wrapper start -->
							<div class="swiper-wrapper">
								<!-- swiper slide start -->
								<div class="swiper-slide">
									<!-- testimonials item start -->
									<div class="testimonials-item right-after">
										<div class="testimonials-meta">
											<div class="testimonials-quote">
												<i class="fa-solid fa-quote-left"></i>
											</div>
											<div class="testimonials-rating">
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
											</div>
										</div>
										<div class="testimonials-content">
											<p>Lorem ipsum dolor sit amet, consectetur adipisc eiusmod tempor incididunt ut labore etedum doad minim veniam, a uis nostr incidi dunt ut laborci tempor incididunt ut labore cididunt ut labore etedu doad minim. a uis nostr incididunt.</p>
										</div>
										<div class="testimonials-author-box">
											<div class="testimonials-author">
												<div class="testimonials-author-image">
													<figure>
														<img src="assets/images/avatar/avatar-1.jpg" alt="avatar">
													</figure>
												</div>
												<div class="testimonials-author-content">
													<h2>Nasir Jamil</h2>
													<p>Volunteer</p>
												</div>
											</div>
										</div>
									</div>
									<!-- testimonials item end -->
								</div>
								<!-- swiper slide end -->
								<!-- swiper slide start -->
								<div class="swiper-slide">
									<!-- testimonials item start -->
									<div class="testimonials-item right-after">
										<div class="testimonials-meta">
											<div class="testimonials-quote">
												<i class="fa-solid fa-quote-left"></i>
											</div>
											<div class="testimonials-rating">
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
											</div>
										</div>
										<div class="testimonials-content">
											<p>Lorem ipsum dolor sit amet, consectetur adipisc eiusmod tempor incididunt ut labore etedum doad minim veniam, a uis nostr incidi dunt ut laborci tempor incididunt ut labore cididunt ut labore etedu doad minim. a uis nostr incididunt.</p>
										</div>
										<div class="testimonials-author-box">
											<div class="testimonials-author">
												<div class="testimonials-author-image">
													<figure>
														<img src="assets/images/avatar/avatar-2.jpg" alt="avatar">
													</figure>
												</div>
												<div class="testimonials-author-content">
													<h2>Nasir Jamil</h2>
													<p>Volunteer</p>
												</div>
											</div>
										</div>
									</div>
									<!-- testimonials item end -->
								</div>
								<!-- swiper slide end -->
								<!-- swiper slide start -->
								<div class="swiper-slide">
									<!-- testimonials item start -->
									<div class="testimonials-item right-after">
										<div class="testimonials-meta">
											<div class="testimonials-quote">
												<i class="fa-solid fa-quote-left"></i>
											</div>
											<div class="testimonials-rating">
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
												<i class="fa-solid fa-star active"></i>
											</div>
										</div>
										<div class="testimonials-content">
											<p>Lorem ipsum dolor sit amet, consectetur adipisc eiusmod tempor incididunt ut labore etedum doad minim veniam, a uis nostr incidi dunt ut laborci tempor incididunt ut labore cididunt ut labore etedu doad minim. a uis nostr incididunt.</p>
										</div>
										<div class="testimonials-author-box">
											<div class="testimonials-author">
												<div class="testimonials-author-image">
													<figure>
														<img src="assets/images/avatar/avatar-3.jpg" alt="avatar">
													</figure>
												</div>
												<div class="testimonials-author-content">
													<h2>Nasir Jamil</h2>
													<p>Volunteer</p>
												</div>
											</div>
										</div>
									</div>
									<!-- testimonials item end -->
								</div>
								<!-- swiper slide end -->
							</div>
							<!-- swiper wrapper end -->
							<!-- swiper actions start -->
							<div class="swiper-actions ms-2 mt-30">
								<div class="dot"></div>
							</div>
							<!-- swiper actions end -->
						</div>
						<!-- testimonials slider end -->

					</div>
					<!-- testimonials right end -->
				</div>
			</div>
		</div>
	</section>
	<!-- testimonials section end -->

	<!-- pricing section start -->
	<section class="pricing-section pricing-two pb-70 md-pb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- pricing title box start -->
					<div class="pricing-title-box wow fadeInUp" data-wow-delay=".2s">
						<!-- section title start -->
						<div class="section-title text-center mb-30">
							<span class="sub-title">Pricing Plans</span>
							<h2>Choose the <span>Perfect Plan</span> to Your AI-Driven Success</h2>
						</div>
						<!-- section title end -->
						<div class="pricing-tabs">
							<!-- nav tabs start -->
							<nav class="text-center">
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active" id="nav-monthly-tab" data-bs-toggle="tab" data-bs-target="#nav-monthly" type="button" role="tab" aria-controls="nav-monthly" aria-selected="true">Monthly</button>
									<button class="nav-link" id="nav-yearly-tab" data-bs-toggle="tab" data-bs-target="#nav-yearly" type="button" role="tab" aria-controls="nav-yearly" aria-selected="false">Yearly</button>
								</div>
							</nav>
							<!-- nav tabs end -->
						</div>
					</div>
					<!-- pricing title box end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- tab content start -->
					<div class="tab-content wow fadeInUp" data-wow-delay=".3s">
						<!-- tab pane start -->
						<div class="tab-pane fade active show" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab" tabindex="0">
							<div class="row">
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-1.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>39 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Starter</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-2.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>59 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Pro Plan</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-3.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>79 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Enterprise Plan</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
							</div>
						</div>
						<!-- tab pane end -->
						<!-- tab pane start -->
						<div class="tab-pane fade" id="nav-yearly" role="tabpanel" aria-labelledby="nav-yearly-tab" tabindex="0">
							<div class="row">
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-1.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>59 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Starter</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-2.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>99 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Pro Plan</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
								<div class="col-lg-4">
									<!-- pricing item start -->
									<div class="pricing-item right-after">
										<div class="pricing-content">
											<div class="pricing-top">
												<div class="pricing-top-icon">
													<figure>
														<img src="assets/images/pricing/pricing-icon-3.png" alt="pricing icons">
													</figure>
												</div>
												<div class="pricing-top-content">
													<h2>150 USD</h2>
													<p>Billed Annually for 30% Off</p>
												</div>
											</div>
											<div class="pricing-tag">
												<span>Enterprise Plan</span>
											</div>
											<div class="pricing-list">
												<p class="text-white fw-bold mb-2">What's included?</p>
												<div class="check-list">
													<ul>
														<li>60+ Premium features</li>
														<li>Unlimited supports</li>
														<li>90+ Expert members</li>
														<li>Data Insights</li>
														<li>Lifetime Updates</li>
													</ul>
												</div>
											</div>
											<div class="pricing-button-wapper">
												<a href="pricing.html" class="theme-button style-1" aria-label="Choose Plan">
													<span data-text="Choose Plan">Choose Plan</span>
													<i class="fa-solid fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- pricing item end -->
								</div>
							</div>
						</div>
						<!-- tab pane end -->
					</div>
					<!-- tab content end -->
				</div>
			</div>
		</div>
	</section>
	<!-- pricing section end -->

	<!-- team section start -->
	<section class="team-section-1 pb-70 md-pb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title start -->
					<div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
						<span class="sub-title">Our Team</span>
						<h2>Our Professionals AI <span>Expert Team</span></h2>
					</div>
					<!-- section title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-xxl-6 col-xl-6 col-lg-12">
					<!-- team list start -->
					<div class="team-list">
						<!-- team-item start -->
						<div class="team-item right-after align-items-center">
							<div class="team-image">
								<figure>
									<img src="assets/images/team/team-3-1.jpg" alt="team one">
								</figure>
							</div>
							<div class="team-content">
								<h2><a href="team-details.html">Catherine Denuve</a></h2>
								<p class="designation">Administrator</p>
							</div>
						</div>
						<!-- team-item end -->
						<!-- team-item start -->
						<div class="team-item right-after align-items-center">
							<div class="team-image">
								<figure>
									<img src="assets/images/team/team-3-2.jpg" alt="team one">
								</figure>
							</div>
							<div class="team-content">
								<h2><a href="team-details.html">Laurence Olivier</a></h2>
								<p class="designation">Administrator</p>
							</div>
						</div>
						<!-- team-item end -->
						<!-- team-item start -->
						<div class="team-item right-after align-items-center">
							<div class="team-image">
								<figure>
									<img src="assets/images/team/team-3-3.jpg" alt="team one">
								</figure>
							</div>
							<div class="team-content">
								<h2><a href="team-details.html">Susan Hopkins</a></h2>
								<p class="designation">Administrator</p>
							</div>
						</div>
						<!-- team-item end -->
					</div>
					<!-- team list end -->
				</div>
				<div class="col-xxl-6 col-xl-6 col-lg-12">
					<!-- team-item start -->
					<div class="team-item item-right right-after">
						<div class="team-image">
							<figure>
								<img src="assets/images/team/team-3-4.jpg" alt="team one">
							</figure>
						</div>
						<div class="team-content">
							<h2><a href="team-details.html">Keanu Reeves</a></h2>
							<p class="designation">President of Sales</p>
							<div class="team-more-details mt-30">
								<p class="desc mb-20">Lorem ipsum dolor sit amet, consectetur adipisc eiusmod tempor incididunt ut labore etedum doad minim veniam, a uis nostr incidi dunt ut laborci tempor incididunt ut labore cididunt ut labore.</p>
								<!-- progress wapper start -->
								<div class="progress-wapper mb-40">
									<!-- single progressbar start -->
									<div class="single-progressbar">
										<div class="progress-title">Artificial Intelligence</div>
										<div class="progressbar">
											<div class="progress-bar-count counted" data-percent="95%"></div>
										</div>
									</div>
									<!-- single progressbar end -->
									<!-- single progressbar start -->
									<div class="single-progressbar">
										<div class="progress-title">Robotics Management</div>
										<div class="progressbar">
											<div class="progress-bar-count counted" data-percent="85%"></div>
										</div>
									</div>
									<!-- single progressbar end -->
									<!-- single progressbar start -->
									<div class="single-progressbar">
										<div class="progress-title">Meal Contribution</div>
										<div class="progressbar">
											<div class="progress-bar-count counted" data-percent="92%"></div>
										</div>
									</div>
									<!-- single progressbar end -->
								</div>
								<!-- progress wapper end -->
								<!-- footer social icon start -->
								<div class="footer-social-icon">
									<ul class="social-icon">
										<li>
											<a href="#" aria-label="instagram"><i
												class="fa-brands fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" aria-label="facebook"><i
												class="fa-brands fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#" aria-label="twitter"><i
												class="fa-brands fa-x-twitter"></i></a>
										</li>
										<li>
											<a href="#" aria-label="pinterest"><i
												class="fa-brands fa-pinterest-p"></i></a>
										</li>
									</ul>
								</div>
								<!-- footer social icon end -->
							</div>
						</div>
					</div>
					<!-- team-item end -->
				</div>
			</div>
		</div>
	</section>
	<!-- team section end -->

	<!-- faq section start -->
	<section class="faq-section-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title area start -->
					<div class="section-title-area">
						<div class="section-title wow fadeInUp" data-wow-delay=".2s">
							<span class="sub-title bg-white">Our Faq's</span>
							<h2>Your AI <span>questions</span>, answered here</h2>
						</div>
						<div class="section-title-content wow fadeInUp" data-wow-delay=".2s">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
						</div>
					</div>
					<!-- section title area end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- faq-content start -->
					<div class="faq-content wow fadeInUp" data-wow-delay=".3s">
						<!-- accordion start -->
						<div class="accordion" id="accordionExample">
							<!-- accordion item start -->
							<div class="accordion-item">
								<!-- accordion-header start -->
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										What is this project management platform used for?
									</button>
								</h2>
								<!-- accordion header end -->
								<!-- accordion collapse start -->
								<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
									<!-- accordion body start -->
									<div class="accordion-body">
										<div class="inner">
											<div class="accordion-content">
												<p>
													It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
													more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
												</p>
											</div>
										</div>
									</div>
									<!-- accordion body end -->
								</div>
								<!-- accordion collapse end -->
							</div>
							<!-- accordion item end -->
							<!-- accordion item start -->
							<div class="accordion-item">
								<!-- accordion-header start -->
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Who is this platform best suited for?
									</button>
								</h2>
								<!-- accordion header end -->
								<!-- accordion collapse start -->
								<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<!-- accordion body start -->
									<div class="accordion-body">
										<div class="inner">
											<div class="accordion-content">
												<p>
													It depends on your lifestyle. Contact lenses offer convenience for sports and aesthetics, while glasses are easier to maintain and cost-effective over time. An eye doctor
													can help you decide what suits you best.
												</p>
											</div>
										</div>
									</div>
									<!-- accordion body end -->
								</div>
								<!-- accordion collapse end -->
							</div>
							<!-- accordion item end -->
							<!-- accordion item start -->
							<div class="accordion-item">
								<!-- accordion-header start -->
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Can I manage multiple projects at the same time?
									</button>
								</h2>
								<!-- accordion header end -->
								<!-- accordion collapse start -->
								<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<!-- accordion body start -->
									<div class="accordion-body">
										<div class="inner">
											<p>
												It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
												more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
											</p>
										</div>
									</div>
									<!-- accordion body end -->
								</div>
								<!-- accordion collapse end -->
							</div>
							<!-- accordion item end -->
							<!-- accordion item start -->
							<div class="accordion-item">
								<!-- accordion-header start -->
								<h2 class="accordion-header" id="headingFour">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Does it support team collaboration?
									</button>
								</h2>
								<!-- accordion-header end -->
								<!-- accordion collapse start -->
								<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<!-- accordion body start -->
									<div class="accordion-body">
										<div class="inner">
											<div class="accordion-content">
												<p>
													It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
													more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
												</p>
											</div>
										</div>
									</div>
									<!-- accordion body end -->
								</div>
								<!-- accordion collapse end-->
							</div>
							<!-- accordion item end -->
							<!-- accordion item start -->
							<div class="accordion-item">
								<!-- accordion-header start -->
								<h2 class="accordion-header" id="headingFive">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Is the platform suitable for remote or distributed teams?
									</button>
								</h2>
								<!-- accordion-header end -->
								<!-- accordion collapse start -->
								<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<!-- accordion body start -->
									<div class="accordion-body">
										<div class="inner">
											<div class="accordion-content">
												<p>
													It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
													more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
												</p>
											</div>
										</div>
									</div>
									<!-- accordion body end -->
								</div>
								<!-- accordion collapse end-->
							</div>
							<!-- accordion item end -->
						</div>
						<!-- accordion end -->
					</div>
					<!-- faq-content end -->
				</div>
			</div>
		</div>
	</section>
	<!-- faq section end -->

	<!-- blog section start -->
	<section class="blog-section pt-100 md-pt-80 pb-70 md-pb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- section title start -->
					<div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
						<span class="sub-title">Latest Blog</span>
						<h2>AI and Creativity Stories <span>Articles &amp; Tips</span></h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates modi omnis dolore et mollitia dolorem alias voluptatibus tempora soluta ut officia ullam magnam obcaecati accusantium.</p>
					</div>
					<!-- section title end -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<!-- blog grid item start -->
					<div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".3s">
						<!-- blog grid image start -->
						<div class="blog-grid-image">
							<a href="blog-details.html">
								<figure class="image-anime">
									<img src="assets/images/blog/blog-1.jpg" alt="blog image one">
								</figure>
							</a>
						</div>
						<!-- blog grid image end -->
						<!-- blog grid content start -->
						<div class="blog-grid-content">
							<ul class="blog-meta">
								<li>
									<a href="#">
										<i class="fa-solid fa-user"></i>
										<span>Admin</span>
									</a>
								</li>
								<li>
									<i class="fa-solid fa-calendar-days"></i>
									<span>March 14, 2025</span>
								</li>
							</ul>
							<h2><a href="blog-details.html">Why Design Matters Long-Term Business</a></h2>
							<div class="blog-grid-button">
								<a href="blog-details.html" class="read-more-btn">More Details</a>
							</div>
						</div>
						<!-- blog grid content end -->
					</div>
					<!-- blog grid item end -->
				</div>
				<div class="col-lg-4 col-md-12">
					<!-- blog grid item start -->
					<div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".4s">
						<!-- blog grid image start -->
						<div class="blog-grid-image">
							<a href="blog-details.html">
								<figure class="image-anime">
									<img src="assets/images/blog/blog-2.jpg" alt="blog image two">
								</figure>
							</a>
						</div>
						<!-- blog grid image end -->
						<!-- blog grid content start -->
						<div class="blog-grid-content">
							<ul class="blog-meta">
								<li>
									<a href="#">
										<i class="fa-solid fa-user"></i>
										<span>Admin</span>
									</a>
								</li>
								<li>
									<i class="fa-solid fa-calendar-days"></i>
									<span>March 14, 2025</span>
								</li>
							</ul>
							<h2><a href="blog-details.html">Top 10 most popular AI Automation tools</a></h2>
							<div class="blog-grid-button">
								<a href="blog-details.html" class="read-more-btn">More Details</a>
							</div>
						</div>
						<!-- blog grid content end -->
					</div>
					<!-- blog grid item end -->
				</div>
				<div class="col-lg-4 col-md-12">
					<!-- blog grid item start -->
					<div class="blog-grid-item-1 right-after wow fadeInUp" data-wow-delay=".5s">
						<!-- blog grid image start -->
						<div class="blog-grid-image">
							<a href="blog-details.html">
								<figure class="image-anime">
									<img src="assets/images/blog/blog-3.jpg" alt="blog image three">
								</figure>
							</a>
						</div>
						<!-- blog grid image end -->
						<!-- blog grid content start -->
						<div class="blog-grid-content">
							<ul class="blog-meta">
								<li>
									<a href="#">
										<i class="fa-solid fa-user"></i>
										<span>Admin</span>
									</a>
								</li>
								<li>
									<i class="fa-solid fa-calendar-days"></i>
									<span>March 14, 2025</span>
								</li>
							</ul>
							<h2><a href="blog-details.html">How to generate audience Using AI Tools?</a></h2>
							<div class="blog-grid-button">
								<a href="blog-details.html" class="read-more-btn">More Details</a>
							</div>
						</div>
						<!-- blog grid content end -->
					</div>
					<!-- blog grid item end -->
				</div>
			</div>
		</div>
	</section>
	<!-- blog section end -->
</Layout>
