---
import Layout from "@/layouts/Layout.astro";
import PricingTable from "@/components/Shared/Pricing.astro";
import Breadcrumb from "@/components/Shared/Breadcrumb.astro";
---
<Layout>
    <Breadcrumb title="Тарифы" />

    <div class="mt-50">
        <PricingTable />
    </div>

</Layout>
