---

interface Props {
    service: any;
    sortedServices: any[];
}

const {
    service,
    sortedServices
} = Astro.props
---
<div class="col-xl-4 col-md-12">
    <div class="widget-sidebar wow fadeInUp" data-wow-delay=".3s">
        <!-- widget categories list -->
        <div class="widget widget-categories-list">
            <div class="widget-title">
                <h3>Возможности</h3>
            </div>
            <div class="widget-content">
                <ul class="category-list">
                    {sortedServices.map(s => (
                            <li>
                                <a href={`/possibilities/${s.id}`} class={s.id === service.id ? 'active' : ''}>
                                    <span class="categories-name">{s.data.title} </span>
                         <!--           <span class="categories-count">({s.data.order})</span>-->
                                </a>
                            </li>
                    ))}
                </ul>
            </div>
        </div>
        <!-- widget company profile -->
        <div class="widget widget-company-profile">
            <div class="widget-title">
                <h3>Подключить чат-бот ИИ</h3>
            </div>
            <div class="widget-content">
                <ul class="company-profile-list">
                    <li>
                        <a href="https://t.me/W1DO_DIGITAL">
                                                    <span class="company-profile-icon d-flex align-items-center justify-content-center flex-shrink-0">
                                                        <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                                                    </span>
                            <span class="download-content">
                                                        Написать в Telegram
                                                    </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- widget cta -->
        <div class="widget widget-cta">
            <div class="widget-title">
                <h3>Нужна помощь?</h3>
            </div>
            <div class="widget-content">
                <p>Наши специалисты готовы ответить на ваши вопросы и помочь с внедрением ИИ-решений.</p>
                <div class="service-cta-item">
                    <div class="service-cta-list d-flex gap-3">
                        <div class="service-cta-icon d-flex align-items-center justify-content-center flex-shrink-0">
                            <i class="fa-brands fa-telegram"></i>
                        </div>
                        <div class="service-cta-content flex-grow-1">
                            <p>Telegram</p>
                            <a href="https://t.me/W1DO_DIGITAL">@W1DO_DIGITAL</a>
                        </div>
                    </div>
                    <div class="service-cta-list d-flex gap-3">
                        <div class="service-cta-icon d-flex align-items-center justify-content-center flex-shrink-0">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="service-cta-content flex-grow-1">
                            <p>Email</p>
                            <a href="mailto:uniqdeveloper@yandex.ru">uniqdeveloper@yandex.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>