---
import Header from "@/components/Layout/Header.astro";
import Preloader from "@/components/Layout/Preloader.astro";
import Footer from "@/components/Layout/Footer.astro";
import Scripts from "@/components/Layout/Scripts.astro";
import BackTop from "@/components/Layout/BackTop.astro";
import Sidebar from "@/components/Layout/Sidebar.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ru">
<!-- meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="pus_infotech">
<meta name="description" content={description || "BotSync — платформа для автоматизации бизнеса с помощью ИИ. Создайте умного чат-бота с базой знаний (RAG) за 5 минут. Обучение на ваших документах, голосе и данных."}>
<meta name="keywords" content="BotSync, RAG система, ИИ бот для бизнеса, создание чат-ботов, автоматизация ИИ, база знаний ИИ, умный виджет на сайт">
<!-- page title -->
<title>{title || "BotSync — Создание умных ИИ-ботов и RAG-систем для бизнеса"}</title>
<!-- favicon icon -->
<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
<!-- font awesome css -->
<link rel="stylesheet" href="/assets/css/all.min.css">
<!-- bootstrap css -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<!-- swiper css -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<!-- magnific css -->
<link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
<!-- animate css -->
<link rel="stylesheet" href="/assets/css/animate.css">
<!-- main css  -->
<link rel="stylesheet" href="/assets/css/main.css">
<!-- style css -->
<link rel="stylesheet" href="/style.css">
<body>

<div class="page-wrapper">
    <Preloader />
    
    <BackTop />

    <!-- mouse cursor start -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- mouse cursor end -->

    <Sidebar/>
    <Header/>


    <main class="main">
        <slot />
    </main>

    <Footer/>
</div>

<Scripts />
</body>
</html>
